#game{position: absolute; z-index: 10;}
.game-question{
    position: absolute;
    z-index: 10;
    display:block;
    width: 400px;
    height: 300px;
    background:rgb(0,0,0);
    margin: 100px 0 0 100px;
    opacity: 0.8;
    color: white;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif, arial, georgia;
    font-size: xx-large;
    overflow:hidden;
    border-radius: 15px;
}

.game-question .question{display: block; margin:40px 20px 40px 20px; position:absolute;}
.game-question a.button{
    display:inline-block;
    font-size: x-large;
    cursor: pointer;
    color: white;
    text-decoration: none;
    width: 50%;
    margin: 0;
    height:100%;
}

.game-question a.button:hover{color: rgb(100,100,100);}
.game-question .button span{position:absolute; bottom: 40px;}
.game-question .button.yes span{left: 100px;}
.game-question .button.no span{right: 100px;}

#explanation{
    position:absolute;
    padding: 10px;
    right: 0; bottom: 0;
    display: block;
    z-index: 10;
    color: black;
    opacity: 0.2;
    font-size: small;
}